---
import Base from "../layouts/Base.astro";
---

<Base>
  <!-- callout -->
  <div class="bg-sky-600 text-sky-50 py-2 fixed w-full">
    <div class="content-container">
      <p class="text-center">
        2026 Registration is Now Open. <a
          href="/register"
          class="inline-block ml-4 bg-white text-sky-700 hover:bg-sky-50 font-semibold transition rounded px-4 py-2"
          >Apply for enrollment today!</a
        >
      </p>
    </div>
  </div>

  <section class="pt-24 pb-12">
    <div class="content-container">
      <div class="flex justify-between items-center">
        <img
          src="/logo.png"
          alt="Mt. Pleasant Christian School"
          height="250"
          width="250"
          class="mx-auto"
        />

        <div>
          <h2 class="text-2xl font-bold mb-2">Mt. Pleasant Christian School</h2>
          <p>
            We partner with families to cultivate a community of learners where
            biblical values and academic excellence intersect, empowering
            students to be connected to community, thriving individually, and
            learning passionately.
          </p>
          <div class="flex items-center gap-4 mt-5">
            <a
              href="/register"
              class="bg-sky-600 text-sky-50 hover:bg-sky-700 transition rounded px-4 py-2"
              >Apply Today!</a
            >
            <a href="/statement-of-faith" class="text-sm underline"
              >Statement of Faith</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-8 border-t border-gray-300">
    <div class="content-container">
      <h2 class="text-xl font-bold mb-4">What to Expect</h2>
      <div class="grid grid-cols-3 gap-4">
        <div>
          <h4 class="font-semibold border-b mb-2">Ages</h4>
          <p>As of now we are only offering K4-6th grade.</p>
        </div>
        <div>
          <h4 class="font-semibold border-b mb-2">Curriculum</h4>
          <p>
            Abeka Christian School Curriculum supplemented with other curriculum
            models.
          </p>
        </div>
        <div>
          <h4 class="font-semibold border-b mb-2">Schedule</h4>
          <p>
            Monday-Wednesday in school with Thursday-Friday being at home
            learning days.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-8 bg-sky-50">
    <div class="content-container">
      <!-- <h3>Vision</h3> -->
      <p class="text-xl">
        Our vision is to be a thriving community of learners where students,
        families, and educators are inspired to pursue truth, wisdom, and
        knowledge in every aspect of life. We envision a future where every
        child we serve becomes a passionate learner, a compassionate leader, and
        a committed follower of Christ.
      </p>
    </div>
  </section>

  <section class="py-8">
    <div class="content-container">
      <h2 class="text-xl font-bold mb-4">Our Core Values</h2>
      <ul class="grid md:grid-cols-3 gap-4">
        <li>
          <h4 class="font-semibold border-b mb-2">Christ-Centered Education</h4>
          <p>
            We integrate biblical truth into all learning and teaching
            practices.
          </p>
        </li>
        <li>
          <h4 class="font-semibold border-b mb-2">Community</h4>
          <p>
            We foster a sense of belonging among students, parents, and teachers
            through regular gatherings, social events, and mentorship.
          </p>
        </li>
        <li>
          <h4 class="font-semibold border-b mb-2">Academic Excellence</h4>
          <p>
            We are committed to providing high-quality education that prepares
            students for lifelong success.
          </p>
        </li>
        <li>
          <h4 class="font-semibold border-b mb-2">Individual Growth</h4>
          <p>
            We encourage students to develop their unique gifts and talents in
            both academic and spiritual areas.
          </p>
        </li>
        <li>
          <h4 class="font-semibold border-b mb-2">Passionate Learning</h4>
          <p>
            We inspire curiosity and a love of learning that extends beyond the
            classroom.
          </p>
        </li>
      </ul>
    </div>
  </section>
</Base>
