---
import Base from "../layouts/Base.astro";
---

<Base>
  <header class="pt-12">
    <div class="flex flex-col justify-between items-center">
      <a href="/">
        <img
          src="/logo.png"
          alt="Mt. Pleasant Christian School"
          height="150"
          width="150"
          class="mx-auto"
        />
      </a>

      <h1 class="text-3xl font-bold">Statement of Faith</h1>
    </div>
  </header>

  <!-- page content -->
  <section class="pb-12 pt-6">
    <div class="content-container">
      <p>As a community:</p>
      <ol class="list-decimal">
        <li class="py-2">
          We believe the Bible to be the inspired, the only infallible,
          authoritative Word of God, revealing the love of God to the world. (1
          Thessalonians 2:13; 2 Timothy 3:15–17; John 3:16)
        </li>

        <li class="py-2">
          We believe that there is one God, eternally existent in three persons:
          Father, Son, and Holy Spirit. (Matthew 28:19; John 10:30; Ephesians
          4:4–6)
        </li>

        <li class="py-2">
          We believe in the deity of the Lord Jesus Christ: in His virgin birth,
          in His sinless life, in His miracles, in His atoning death through His
          shed blood on the cross, in His bodily resurrection, in His ascension
          to the right hand of the Father, and in His personal return in power
          and glory. (Matthew 1:23; John 1:1–4, 29; Acts 1:11; 2:22–24; Romans
          8:34; 1 Corinthians 15:3–4; 2 Corinthians 5:21; Philippians 2:5–11;
          Hebrews 1:1–4; 4:15)
        </li>

        <li class="py-2">
          We believe that all people everywhere are lost and face the judgment
          of God, that Jesus Christ is the only way of salvation, and that for
          the salvation of lost and sinful humanity, repentance of sin and faith
          in Jesus Christ result in regeneration by the Holy Spirit. (Luke
          24:46–47; John 14:6; Acts 4:12; Romans 3:23; 2 Corinthians 5:10–11;
          Ephesians 1:7; 2:8–9; Titus 3:4–7)
        </li>

        <li class="py-2">
          We believe in the present ministry of the Holy Spirit, whose
          indwelling enables the Christian to live a godly life. (John 3:5–8;
          Acts 1:8; 4:31; Romans 8:9; 1 Corinthians 2:14; Galatians 5:16–18;
          Ephesians 6:12; Colossians 2:6–10)
        </li>

        <li class="py-2">
          We believe in the spiritual unity of believers in the Lord Jesus
          Christ, and that all true believers are members of His body, the
          Church. (1 Corinthians 12:12, 27; Ephesians 1:22–23)
        </li>

        <li class="py-2">
          We believe in the ongoing sanctification of the believer: that as we
          devote ourselves to the study of the Word, to prayer, and to reliance
          on the Holy Spirit, we are enabled to “walk in a manner worthy of the
          calling to which you have been called.” (Ephesians 4:1)
        </li>

        <li class="py-2">
          We believe God’s plan for human sexuality is to be expressed only
          within the context of marriage, that God created man and woman as
          unique biological persons made for each other. God instituted
          monogamous marriage between male and female as the foundation of the
          family and the basic structure of human society. For this reason, we
          believe that marriage is exclusively the union of one genetic male and
          one genetic female. (Genesis 2:24; Matthew 19:5–6; Mark 10:6–9; Romans
          1:26–27; 1 Corinthians 6:9)
        </li>

        <li class="py-2">
          We believe God wonderfully and immutably creates each person as a
          biological male or female. These two distinct but complementary sexes
          together reflect the image and likeness of God. Rejection of one’s
          biological sex is a rejection of God’s merciful design and creative
          order. (Genesis 1:26–27; Deuteronomy 22:5; Mark 10:6; 1 Corinthians
          6:9)
        </li>
      </ol>
      <em class="text-gray-600 text-sm"
        >(Adapted from the core values of the Billy Graham Evangelistic
        Association)</em
      >
    </div>
  </section>
</Base>
